{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-1"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    "transform-decorators-legacy"
  ],
  "comments": false
}
